<div class="container mx-auto">
    <h1 class="text-3xl font-semibold mb-6 text-center text-blue-600">Encuestas Money Bin</h1>
  
    <div>
      <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
        <thead>
          <tr>
            <th class="px-6 py-4 text-left">Cliente</th>
            <th class="px-6 py-4 text-left">Categoria</th>
            <th class="px-6 py-4 text-left">Puntuación</th>
            <th class="px-6 py-4 text-left">Comentario</th>
            <th class="px-6 py-4 text-left">Fecha</th>
            <th class="px-6 py-4 text-left">Acción</th>
          </tr>
        </thead>
        <tbody>
          @for (item of data; track $index) {
          <tr>
            <td class="px-6 py-4">{{item.account_id}}</td>
            <td class="px-6 py-4">{{item.category}}</td>
            <td class="px-6 py-4">{{item.score}}</td>
            <td class="px-6 py-4">{{item.comment}}</td>
            <td class="px-6 py-4">{{ convertirFecha(item.responded_at) }}</td>
            <td class="px-6 py-4"><button class="bg-blue-500 text-white px-4 py-2 rounded-lg" (click)="viewOnlySurveys(item)">ver</button></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  
