<div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-center text-blue-600">Prestamos Money Bin</h2>

    <form [formGroup]="loanForm" (ngSubmit)="pagar()">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-2">
                <label for="cuentaPago" class="block text-sm/6 font-medium text-gray-900"># Cuenta Cliente: </label>
                <div class="mt-2">
                  <input type="text" formControlName="cuentaPago" id="cuentaPago"   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div class="sm:col-span-2">
                <label for="numeroPrestamo" class="block text-sm/6 font-medium text-gray-900"># Prestamo: </label>
                <div class="mt-2">
                  <input type="text" formControlName="numeroPrestamo" id="numeroPrestamo"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="montoPagar" class="block text-sm/6 font-medium text-gray-900">Monto a Pagar: </label>
                <div class="mt-2">
                  <input type="text" formControlName="montoPagar" id="montoPagar"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="cuiPersona" class="block text-sm/6 font-medium text-gray-900">CUI: </label>
                <div class="mt-2">
                  <input type="text" formControlName="cuiPersona" id="cuiPersona"   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="pinPersona" class="block text-sm/6 font-medium text-gray-900">PIN: </label>
                <div class="mt-2">
                  <input type="password" formControlName="pinPersona" id="pinPersona"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-center gap-x-6">
            <button type="button" class="text-sm/6 font-semibold text-gray-900">Cancelar</button>
            <button type="submit" [disabled]="!loanForm.valid" class="rounded-md dark:bg-gray-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:dark:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dark:bg-gray-800">Pagar</button>
        </div>
    </form>  
</div>