<div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-center text-blue-600">Pagos Money Bin</h2>

    <form [formGroup]="paymentsForm" (ngSubmit)="pagar()">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="col-span-full">
                <label for="tipoPago" class="block text-sm/6 font-medium text-gray-900">Tipo de Pago: </label>
                <div class="mt-2">
                    <select id="tipoPago" formControlName="tipoPago"  class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        <option value="luz">Luz</option>
                        <option value="agua">Agua</option>
                        <option value="telefono">Teléfono</option>
                        <option value="intenet">Internet</option>
                    </select>
                </div>
            </div>

            <div class="col-span-full">
                <label for="nombreEncargado" class="block text-sm/6 font-medium text-gray-900">Encargado: </label>
                <div class="mt-2">
                  <input type="text" formControlName="nombreEncargado" id="nombreEncargado"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="codigoServicio" class="block text-sm/6 font-medium text-gray-900">Código de Servicio: </label>
                <div class="mt-2">
                  <input type="text" formControlName="codigoServicio" id="codigoServicio"   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="montoPagar" class="block text-sm/6 font-medium text-gray-900">Monto a Pagar: </label>
                <div class="mt-2">
                  <input type="text" formControlName="montoPagar" id="montoPagar"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="cuiPersona" class="block text-sm/6 font-medium text-gray-900">CUI: </label>
                <div class="mt-2">
                  <input type="text" formControlName="cuiPersona" id="cuiPersona"   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="pinPersona" class="block text-sm/6 font-medium text-gray-900">PIN: </label>
                <div class="mt-2">
                  <input type="password" formControlName="pinPersona" id="pinPersona"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-center gap-x-6">
            <button type="button" class="text-sm/6 font-semibold text-gray-900">Cancelar</button>
            <button type="submit" [disabled]="!paymentsForm.valid" class="rounded-md dark:bg-gray-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:dark:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dark:bg-gray-800">Pagar</button>
        </div>
    </form>  
</div>